
body {
	font-family: 'lato';/*background: #013 url(http://valencianet.co/img/style/bkg1.jpg) no-repeat center fixed;*/
    font-size:  14pt;color:#000;
}

.fa-btn {
	margin-right: 6px;
}


nav .container-fluid{
	background: rgba(255,180,60,0.9);	
    width: 100%;
	height: auto;
	font-size: 12pt;
    text-align: center;
    border-bottom: 4px solid #69F;
}
/*nav .navbar-toogle{background: #933;}*/
nav .logoc{background: #fff;width: 100%}
nav .logo{position: relative;margin:auto;text-align: center;}
nav .logo img{max-width: 100%;max-height: 120px;}
footer .logo{text-align: right;}

nav .container-fluid .navbar-collapse .navbar-nav li a{color: rgba(0,0,0,0.8);}
nav .container-fluid .navbar-collapse .navbar-nav li a:hover{color: #000;}
nav .container-fluid .navbar-collapse .navbar-nav li .active{color: #000;}
nav .container-fluid .navbar-collapse .navbar-nav .open a{color: #000}
nav .container-fluid .navbar-collapse .navbar-nav li .dropdown-toggle{background: none;}
nav .container-fluid .navbar-collapse .navbar-nav li .dropdown-toggle:hover{color: #000}
nav .container-fluid .navbar-collapse .navbar-nav li .dropdown-menu{background: rgba(255,180,60,0.8)}
nav .container-fluid .navbar-collapse .navbar-nav li .dropdown-menu li a:hover{background: rgba(255,180,60,1);color:#FFF;}
nav .container-fluid .navbar-collapse .navbar-nav li .dropdown-menu li .active{background: rgba(255,180,60,1);color:#FFF;}
nav .sign{position: absolute;right:20px;top:60px;background: #933;}


.container{min-height: 300px;border: #ccc; border-radius:2px; background: rgba(255,255,255,0);
            margin-bottom: 10px;
            padding-bottom:10px;padding-top:10px;
            background: rgba(255,255,255,.95);
        }
.container img{padding:2px;background: none}
.container .card{
    border:1px #999 solid;border-radius: 4px;margin:0 0 10px 0;cursor: pointer;
    background: rgba(240,172,58,.6);text-align: center
}
.container .card2{border:1px #999 solid;border-radius: 4px;margin:0 0 10px 0;}

.container .card:hover{
    background: rgba(240,172,58,.9);
    color:#fff;
 /* Firefox */
    -moz-transition-property: all;
    -moz-transition-duration: 0.7s;
    -moz-transition-timing-function: ease;
    -moz-transition-delay: 0.1s;

    /* Chrome / Safari */
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.7s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0.1s;

    /* Opera */
    -o-transition-property: all;
    -o-transition-duration: 0.7s;
    -o-transition-timing-function: ease;
    -o-transition-delay: 0.1s;

    /* Default */
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
}
.container .card:hover .info{font-weight: bold;}
.container .card:hover .info2{font-weight: bold;}
.container .card p{text-align: justify;font-size: 0.9em;}
.container .card .info{min-height: 130px;}
.container .card .info2{min-height: 160px;}


.middle{margin-top: 160px;}

#app-layout{width: 100%}
#app-layout footer{background: rgb(255,180,60);color:#000;border-top: 4px solid #69F;
    text-align: center;padding:10px 0;clear: both;width: 100%;font-size: 10pt}
#app-layout footer {font-style: normal;padding-bottom: 5px;}    
#app-layout footer .logo img{width: 90%;height: auto;}    
#app-layout footer img{height: 32px; padding: 2px;border-radius: 3px;background: #FFF}    

#myCarousel{margin-bottom: 15px}
#myCarousel img{width:100%;}



h1,h2,h3{text-align: center;clear: both;}

h1{background: rgba(240,172,58,.95);color: #FFF;padding: 3px;border-bottom: 2px #69F solid}
.container h1 img{position: absolute;right: 0;top:12px;width: 60px;border-radius: 100%;
    background: #fff;padding: 2px}
h1 + p{margin-top: -10px;}
p{text-align: justify;border: none;border-radius: 3px;padding:5px;
    /*box-shadow: 2px 2px 3px #999;*/
    background: none}
/*Mensajes*/
.success{width: 100%;color: #190;font-style: bold;text-align: center;}



@media screen and (max-width: 760px) {
    nav button img{height: 50px}
    nav button img:hover{opacity: .8}

    nav .navbar-collapse{text-align: right;margin-top: 1px;border: none}
    nav .navbar-collapse ul li{background: rgba(255,180,60,0.9);border-bottom: 1px solid rgba(255,200,200,0.5)}
    nav .navbar-collapse ul li:hover{background: rgba(255,180,60,0.8);}
    /*nav .container .navbar-right a{color: #333;}*/
	nav .container .navbar-right a:hover{color: #fff;}
	nav .active{border: none;color: #000;}
    .middle{margin-top: 0}

    h1{font-size: 1em}
    h2,h3{font-size: 0.9em}
    .container{font-size: 0.8em}
    .container img{width: auto !important;}
    .container img{max-width: 100% !important}
    .imgAcordeon .Img{width: 40%;margin-top: 20px;}
    .imgAcordeon .Img img{width: 100%;}
    .imgAcordeon .acord{width: 59%;height: auto;}
    iframe{height: 240px}

    .container .card .info{min-height: auto;}
    .container .card .info2{min-height: auto;}
    
}


